<div class="row">
    <div class="col-sm-12">
        <div class="middle-box text-center animated fadeInRightBig">
            <h2 class="font-bold">欢迎使用 In's VIP充值系统</h2>
           
        </div>
    </div>
</div>