<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.152.0" newVersion="3.3.152.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AppId" value="wxdb67f0765db67eb4" />
    <add key="AppSecret" value="e5f686c7ffff5b196c9ccea55f286d53" />
    <add key="TemplateMessageId" value="M15VDGjU_d9oaw2czCMw4rxkufQlnon-ZALuJtFCkVI" />

    <add key="MonthlyJobTemplateMessageId" value="c-zuVWJM3aU_mqLavKV-mzHPp5E83_XTc0sOWk7TB-s"/>
    <add key="DailyJobTemplateMessageId" value="c-zuVWJM3aU_mqLavKV-mzHPp5E83_XTc0sOWk7TB-s"/>

  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=116.62.208.130;Database=KD_VIP;User Id=bsadmin;Password=bsadmin;" />
  </connectionStrings>
</configuration>
