
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Domain.Model.MRKeHu> list = Model as List<Domain.Model.MRKeHu>;
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        店铺查询
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-inline" method="post" action="/store/index">
                            <div class="form-group">
                                <label for="UserName" class="control-label">店铺编码:</label>
                                <input type="text" name="KHDM" placeholder="请输入店铺编码" id="UserName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="Password" class="control-label">店铺名称:</label>
                                <input type="text" name="KHMC" placeholder="请输入店铺名称" id="Password" class="form-control">
                            </div>
                            <button class="btn btn-white" type="submit">查询</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-hover  table-bordered">
                    <thead>
                        <tr>
                            <th>店铺代码</th>
                            <th>店铺名称</th>
                            <th>渠道名称</th>
                            <th>区域名称</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in list)
                            {
                                <tr>
                                    <td>@item.KHDM</td>
                                    <td>
                                        @item.KHMC
                                    </td>
                                    <td>
                                        @item.QDMC
                                    </td>
                                    <td>
                                        @item.QYMC
                                    </td>
                                  
                                </tr>
                            }
                        }
                      
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


