<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <meta name="keywords" content="BSAdmin">
    <meta name="description" content="BSAdmin">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/content/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/content/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/content/css/animate.css" rel="stylesheet">
    <link href="/content/css/style.css?v=4.1.0" rel="stylesheet">
    @RenderSection("styles", required: false)
</head>
<body class="gray-bg">
   
        @RenderBody()
    
    <!-- 全局js -->
    <script src="/content/js/jquery.min.js?v=2.1.4"></script>
    <script src="/content/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script src="/content/js/content.js?v=1.0.0"></script>
    <script src="/content/js/plugins/layer/layer.min.js"></script>
    <script src="/content/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/content/js/plugins/validate/messages_zh.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="/content/js/app.js?v=1.0.0"></script>
    <!--统计代码，可删除-->
</body>
</html>
